.SP-ShowcasePattern{
    --bs-gutter-x:none !important; 
    position: relative; 
    top:-3rem; 
    margin:0 auto
}
.SP-Banner{
    position: relative;
}
.SP-Title{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:40%;
}
.SP-MainImage{
    margin:0 auto; 
    display:block;
}
.SP-Accent-Top{
    position:absolute; 
    width:24%; 
    top:0; 
    left:0; 
    opacity:60%;
}
.SP-Accent-Bottom{
    position:absolute; 
    width:21%; 
    bottom:0; 
    right:0; 
    opacity: 60%;
}

.SP-PatternCard{
    position: relative;
}
.SP-PatternCard.is-loading{
    display:none;
}
.SP-YarnSection{
    margin: 1rem 0;
    background: linear-gradient(0deg, transparent 30%, #f2b826 30%, #f2b826 75%, transparent 75%);
}
.SP-YarnShowcase{
    margin:0 auto;
}
.SP-PatternTextCard{
    display: none;
    position: absolute;
    bottom: 3rem;
    margin: auto;
    background: rgb(255 255 255/51%);
    left: 30px;
    right: 30px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.SP-PatternTextCard.display{
    display:block;
}
.SP-CarouselCard{
    box-shadow: 1px 1px 16px rgb(0 0 0 / 19%);
}
.SP-CarouselCard.hidden .flickity-prev-next-button{
    visibility: hidden;
}
.SP-CarouselCard .flickity-prev-next-button{
    background:none !important;
    height: 100% !important;
    border-radius: 0 !important;
}
.SP-CarouselCard .flickity-prev-next-button.previous{
    left:0px !important;
}
.SP-CarouselCard .flickity-prev-next-button.next{
    right:0px !important;
}
.SP-PatternText{
    padding: .5rem;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.SP-Button{
    text-align: center; 
    display: block; 
    margin:2rem auto; 
    border:4px solid #f2b826; 
    background:#fff; 
    padding:1rem 2rem;
}
.SP-PatternMbText{
    margin:.3rem 0;
    text-align: center;
    display: none;
}
.SP-Button:hover{
    background: #f2b826;
}
.carousel-cell{
    width:20%;
}
.carousel_image{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    padding:1rem;
}
.flickity-page-dots{
    bottom:-45px !important;
    display:none;
}
.flickity-page-dots .dot {
    height: 4px !important;
    width: 40px !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
.flickity-button{
    color:black !important;
}
@media screen and (max-width:1024px){
    .SP-CarouselCard.hidden .flickity-prev-next-button{
        visibility: visible;
    }
}
@media  screen and (max-width:991px) {
    .flickity-page-dots{
        display: block;
    }
    .SP-PatternMbText{
        display: block;
    }
}

@media screen and (max-width:768px) {
    h1{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.1rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size:.9rem;
    }
    .SP-ShowcasePattern{
        top:0;
    }
    .SP-PatternTextCard.display{
        display: none;
    }
    .SP-PatternText{
        font-size: 12px;
    }
    .carousel-cell{
        width:75%;
    }

}